.activate {
    animation-name: fly-in;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
  }

  @keyframes fly-in {
    0% {
      transform-origin: top;
      transform: scale(0, 0.025);
    }
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .activate {
    animation-name: fly-in;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
  }

  @keyframes slideFromRight {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
  
  
  @keyframes slideFromBottom {
    from {
      margin-right: 300%;
      width: 300%;
    }
    to {
      margin-right: 0%;
      width: 100%;
    }
  }

  @keyframes text-flicker {
    0% {
      opacity: 0.1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
  
    2% {
      opacity: 1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    8% {
      opacity: 0.1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    9% {
      opacity: 1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    12% {
      opacity: 0.1;
      text-shadow: 0px 0px rgba(242, 22, 22, 1);
    }
    20% {
      opacity: 1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    25% {
      opacity: 0.3;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    30% {
      opacity: 1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
  
    70% {
      opacity: 0.7;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
  
    72% {
      opacity: 0.2;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
  
    77% {
      opacity: 0.9;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    100% {
      opacity: 0.9;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
  }

  .reveal {
    position: relative;
    // transform: translateY(150px);
    // opacity: 0;
    transition: 2s all ease;
  }
  
  .activate {
    transform: translateY(0);
    opacity: 1;
  }
  
  .right-slide {
    // opacity: 0;
    transition: 1s all ease;
  }
  
  .right-slide-activate {
    opacity: 1;
    animation: slideFromRight 0.5s;
  }
  
  @keyframes createBox {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }