  @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Unica+One&display=swap');


    $base-fontsize: clamp(1rem, 2vmin, 2rem);

    $base-font: "PT Sans", sans-serif;
    $fancy-font: "Unica One", cursive;

    $background-img: url("../barbara-assets/keyboard.webp");
  
    $transparent: rgba(1, 1, 1, 0);
    $white: #ffffff;
    $almostwhite: #cccccc;
    $accent: #27c3f1;
    $secondary: #9dc3ce;
    $complement: #c12240;
    $primary: #1d3f55;
  
    $black: #1c1618;
    $dark: #212121;
    $halfdark: #212121e1;
    $medium: #3e3e3e;
    $halfmedium: #3e3e3ecc;
  
    $scrollbar-bg: #212121;
    $scrollthumb-bg: #cccccc;
  
    $link: $accent;
    $link-hover: $almostwhite;