@import "./barbara-vars";


.contact-form {
    // width: 70%, 70%;
    padding: 3rem;
    color: $almostwhite;
  }
  
  fieldset {
    padding: 2rem;
    box-shadow: $boxshadow;
    border: none;
  }
  
  .wide-input {
    width: 100%;
  }
  
  .good-height {
    font-size: $base-fontsize;
    background-color: $medium;
    color: $white;
    border-width: 0px;
    border-style: none;
    border-color: $medium;
    border-image: none;
    border-bottom: $almostwhite solid 1px;
  }
  
  datalist {
    font-family: $base-font;
    font-weight: normal;
    font-size: $base-fontsize;
    text-rendering: auto;
    color: $white;
    background-color: $medium;
    border-style: none;
    border-color: $medium;
    border-image: none;
    padding: 2px;
  }
  
  textarea {
    font-family: $base-font;
    font-weight: normal;
    font-size: $base-fontsize;
    text-rendering: auto;
    color: $white;
    background-color: $medium;
    border-style: none;
    border-color: $medium;
    border-image: none;
    padding: 2px;
  }
  
  input[type="checkbox"] {
    display: inline-block;
    appearance: none;
    color: $white;
    width: $base-fontsize;
    height: $base-fontsize;
    background-color: $medium;
    background-clip: content-box;
    border: 2px solid $almostwhite;
    border-image: none;
  }
  
  input[type="checkbox"]:checked {
    background-color: $white;
    padding: 2px;
  }
  
  .button-area {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-top: 1rem;
  }
  
  .checkbox-area {
    display: flex;
    gap: 20px;
    justify-content: first baseline;
  }