@import "./animations";

.modal-toggle {
    cursor: pointer;
  }
  
  .modal-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: default;
    background: var(--dark);
    overflow-y: hidden;
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    /* background: var(--medium); */
    width: 80%;
    padding: 16px;
    /* border-radius: 5px;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.35); */
    z-index: 3;
  
    text-align: center;
    animation: createBox 0.5s;
  }

  @media (max-width: 40rem) {
    .modal {
      width: 95%;
      padding: 5px;
    }
  }
  
  .modal > p {
    text-align: right;
    padding: 0px;
    margin: 0px;
  }
  .modal > img {
    max-width: 90%;
    max-height: 80%;
    aspect-ratio: auto;
    margin-bottom: 2rem;
  }
  
  button.modal-close {
    color: var(--white);
    font-size: 1.2rem;
    background-color: var(--medium);
    cursor: pointer;
    padding: 5px;
    margin: 0px;
    border-style: none;
  }
  
  button:hover {
    color: var(--blue);
    text-shadow: -1px 0 var(--black), 0 1px var(--black), 1px 0 var(--black),
      0 -1px var(--black), 5px 3px 4px var(--black);
  }
  