@use "./barbara-vars" as *;
@use "./link" as *;
@import "./reset";
@import "./scrollbar";
@import "./animations";
@import "./form";
@import "./button";
  
@include link($link, $link-hover);
@include scrollbar($scrollthumb-bg, $scrollbar-bg);

  body {
    height: 100vh;
    width: 100vw;
    font-family: $base-font;
    color: $white;
    font-size: $base-fontsize;
    text-align: justify;
    text-justify: inter-word;
    background-color: $dark;
    overflow-x: hidden;
  }
  
  h1 {
    font-family: $fancy-font;
    color: $white;
    font-size: calc($base-fontsize + 8vmin);
    margin: 0px;
    padding: 0px 0px 10px 0px;
    font-weight: 800;
    text-align: left;
  }
  
  h2 {
    font-family: $fancy-font;
    font-size: calc($base-fontsize + 3vmin);
    margin: 0px;
    padding: 0px;
    color: $almostwhite;
  }
  
  .logo {
    text-shadow: 1px 0px 1px $medium, 0px 1px 1px $dark,
      2px 1px 1px $medium, 1px 2px 1px $dark,
      3px 2px 1px $medium, 2px 3px 1px $dark,
      4px 3px 1px $medium, 3px 4px 1px $dark;
  }
  
  h3 {
    font-family: $fancy-font;
    color: $almostwhite;
    font-size: calc($base-fontsize + 1vmin);
    padding: 0px;
    font-weight: 800;
    margin: 0px;
  }

  .container-animated {
    position: relative;
    padding: 0px;
    margin: -10px;
    background: linear-gradient(-45deg, #212121, #3e3e3e, #1d3f55, #212121);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
  }

  hr {
    border-style: dashed none none;
    border-width: thin;
    border-color: $almostwhite;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  
  .links {
    position: fixed;
    width: 100%;
    right: 0px;
    top: 0px;
    z-index: 2;
    background-color: $halfdark;
  }
  
  .links ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }
  
  .links a {
    color: $almostwhite;
    font-weight: bolder;
    text-decoration: none;
  }

  .links a:hover {
    color: $accent;
  }
  
  .links li {
    padding: 1rem;
    display: list-item;
    text-align: center;
  }
  
  .skip-link {
    position: absolute;
    z-index: 3;
    padding: 1rem;
    right: 50%;
    top: 0;
    translate: 0 -100%;
    transition: translate 150ms ease-in-out;
  }
  
  .skip-link:focus-within {
    translate: 0;
  }
  
  .icons-bar {
    z-index: 2;
    position: fixed;
    right: -2px;
    top: 50%;
    background-color: $halfdark;

    ul {
      list-style-type: none;
      margin-block-start: 0px;
      margin-block-end: 0px;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 0px;
    }

    li {
      padding: 16px;
      display: list-item;
      text-align: center;
    }
    
  }

  #header {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0px;
    padding: 10%;
    width: 100%;
    height: 100vh;
    background-image: $background-img;
    background-color: $dark;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .hello {
    position: absolute;
    bottom: 30%;
  }

  .greeting {
    animation: slideFromRight 1s;
  }
  
  .description {
    font-size: calc($base-fontsize + 1vmin);
    padding: 0px 0px 0px 5px;
    animation: slideFromBottom 3s;
  }

  .section {
    margin: 0px;
    padding: 2rem 10%;
    width: 100%;
    min-height: 100vh;
  }
  
  #about {
    position: relative;
    display: grid;
    place-content: center;
  }
  
  .flicker:hover {
    color: $complement;
    letter-spacing: 0.2rem;
    animation: text-flicker 3s linear infinite;
    cursor: auto;
  }

  .face {
    width: 100%;
    aspect-ratio: auto;
    // position: absolute;
  }
  
  #projects > h2 {
    text-align: center;
    margin-top: 1rem;
    font-size: calc($base-fontsize + 6vmin);
  }
  
  .ordinal {
    font-family: $fancy-font;
    color: $almostwhite;
    font-size: calc($base-fontsize + 1vmin);
    padding: 0px;
    font-weight: 800;
    margin: 0px;
  }
  
  .languages {
    color: $almostwhite;
    font-weight: normal;
    font-style: italic;
  }
  
  .about-project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 4rem;
    align-items: center;
    max-width: 94rem;
  }
  
  @media (max-width: 60rem) {
    .about-project {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  
  .about-project .contain-thumb {
    width: 100%;
    height: 20rem;
  
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.35);
  }
  
  .flashcards-start {
    background: url("../barbara-assets/thumbs/flashcards-1.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  
  .small-description {
    padding: 2rem 0;
    text-align: center;
  }
  
  .cards {
    display: flex;
    flex-flow: row wrap;
    gap: 60px;
    justify-content: center;
    align-items: stretch;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.35);
    width: 22rem;
  }
  
  .card > p {
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  
  .card > .languages {
    margin-bottom: 1rem;
  }
  
  .contain-thumb {
    width: 22rem;
    height: 12rem;
    overflow: hidden;
    position: relative;
  }
  
  .thumb {
    width: 100%;
    height: 100%;
  }
  
  .thumb:hover {
    transform: scale(1.2);
  }
  
  .card > :not(a) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .card > :nth-child(2) {
    margin-top: 1rem;
  }
  
  .card > :last-child {
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: right;
  }
  
  .card .readmore {
    font-weight: bold;
    text-decoration: none;
    color: $white;
  }
  
  .card > a {
    align-self: start;
  }
  
  .contact-form {
    position: relative;
    margin: 0px;
    width: 100%;
    min-height: 100vh;
    background: $dark;
    background-image: linear-gradient(
        $transparent,
        $halfmedium,
        $halfdark
      ),
      $background-img;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    place-content: center;
  }

  