
@import "./boxsizing";
@import "./layoutcomponents";
@import "./link";
@import "./entry-vars";

body {
  background: $dark;
  background: $background-stack;

  color: $white;
  font-family: $fancy-fontfamily;
  font-size: $header-fontsize;
  overflow-x: hidden;
}

// a {
//   text-decoration: none;
//   color: #fff;
// }

// a:hover,
// a:active {
//   color: #b9bf4d;
// }

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.title {
  color: $white;
  font-family: $fancy-fontfamily;
  font-size: $header-fontsize;
  width: 80vmin;
  height: 45vmin;
  padding: 3vmin 5vmin 5vmin 5vmin;
}

.image-group {
  width: 45vmax;
  height: 45vmax;
  aspect-ratio: 1 / 1;
  position: relative;
}

.image-group img,
.image-group svg {
  width: 45vmax;
  height: 45vmax;
  aspect-ratio: 1 / 1;
  position: absolute;
  bottom: 0;
  right: 0;

  transform: scale(1.2);
}

.image-group svg {
  filter: opacity(15%);
}

#barbara:hover,
#mat:hover,
#cat:hover {
  filter: opacity(0);
  cursor: pointer;
}
